
.header{
	background-image: url('https://wallpapercave.com/wp/wp2088351.jpg');
	padding: 15px;
}
.nav_up{
    background-color: #b3b2b185;
	height: 150px;
	border:2px solid white;
	border-radius: 25px;
}
.nav_up h2{
	padding-top: 30px;
	float: left;
	font-family: initial;
}
.bakiye_up{
	float: right;
	padding-top: 10px;
}
.hr{
	clear: both;
}
.navbar-light .navbar-nav .nav-link {
	padding-right: 70px;

}
.nav-link:hover{
	background-color: #88b3eb;
}
.navbar-light .navbar-brand{
	padding-right: 100px;
}
.bakiye , .burc{
	background-color: #88b3eb;
    padding: 10px;
    margin: 4px;
    font-weight: bolder;
    color: black;
	border-radius: 20px;
	text-shadow: rgb(255, 255, 255) 1px 1px	;
}
.user-name{
	color: white;
}
.burc{
    color: red;
}
.bakiye{
	text-shadow: rgb(255, 255, 255) 1px 1px	;
}
.Sign-Out{
	text-decoration: none;
	cursor:pointer;
}

.navbar {
	background-color: #d6d6d6;
	padding: 0;

}
.dropdown-toggle:hover{
	background-color: #88b3eb;
    margin: 0px;
    padding: 8px;
    margin-right: 36px;
}

.dropdown-toggle{

    margin: 0px;
    padding: 8px;
    margin-right: 36px;
}
.navbar-brand{
	margin-right: 20px;
	font-weight: bolder;

}
.back-photo{
	background-image: url('https://i.pinimg.com/originals/4d/9d/3f/4d9d3f0f71a32bdd3d19d0b572bab2c1.jpg');
	background-attachment: fixed;
	width: 100%;
	height: 700px;
	padding: 235px 0;
	}
.inside-photo{
	height: 200px;
	background-color: #ffffffc7;
	padding: 35px;
	text-align: center;
	font-size: 35px;
	font-weight: bolder;


}


.section-footer{

	padding: 25px;
	background-color: #636363;
	color: white;

}
.reklam{
	text-align: center;
	height: 200px;
	background-color: #bdbdbd;
	padding: 50px;
	font-weight: bolder;
	font-size: 29px;
	
}
.cikis{
	color: rgb(255, 255, 255);
}
/****** games*****/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}





.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('https://www.freepnglogos.com/uploads/google-play-png-logo/google-changes-play-store-png-logo-0.png');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('https://besthqwallpapers.com/Uploads/27-7-2021/172106/thumb2-pubg-blue-logo-4k-blue-neon-lights-playerunknowns-battlegrounds-creative.jpg');
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #474747;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}
article{
  text-align: center;
}
.photo-for-descriotion{
  border: 1px  solid #000;
  border-radius: 0 0 25px 25px;
  box-shadow: inset;
}
.image-option{
  border-radius: 0px 0px 25px 25px;
}
.game-option-header{
  width: 100%;
  padding: 30px;
  background-color: #010a01;
  letter-spacing: 10px;
  text-align: center;
  margin: 0;
  animation: pulsate 0.11s ease-in-out infinite alternate;     

}
@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  
  }
  
  0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 94px #f09,
    0 0 140px #f09;

}
}
.option{
  border: 1px solid #000;
  border-radius: 25px;
  padding : 10px
}
.urun-optin{
  margin-top: 10px;
}
.urun-color{
  background-color: #88b3eb;
  padding: 15px 0px 0px 0px;
  margin-bottom: 10px;
  border: 1px solid #636363;
  border-radius: 10px;
  font-weight: bolder;
}
.b-green, .b-green:before {
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(26,188,156,1)));
  background: -webkit-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
  background: -o-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
  background: linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1 );
}
.neonText {
  color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
  }

.button:after {
  background: #2c3e50;
}
.ctn {
  display: block;
}
.button {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  text-decoration: none;
  padding: 5PX 20PX 5PX 20PX;
    font-size: 1em;
  font-weight: bold;
  transition: all .5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, .75);
}
.button:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}
.button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}
.button:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}
.button2 {
  display: inline-block;
  font-size: 2em;
  margin: .5em;
  padding: .5em;
  border-radius: 5px;
  transition: all .5s;
  filter: hue-rotate(0deg);
  color: #FFF;
  text-decoration: none;
}

